[Unit]
Description=Ahungry Display Manager
After=systemd-user-sessions.service

[Service]
WorkingDirectory=/home/mcarter/src/clojure/ahungry-dm
ExecStart=/bin/bash ./bin/ahungry-dm

[Install]
Alias=ahungry-dm.service
